@page
@model Web.Pages.Productos.AgregarModel
@{
    ViewData["Title"] = "Agregar Producto";
}

<h2>Agregar Producto</h2>
<header class="subhead">
    <div class="container">
        <div class="masthead-subheading">SC-701: Programación Web Avanzada</div>
        <div class="masthead-heading text-uppercase">Ejercicio producto</div>
    </div>
</header>
<section class="page-section bg-light" id="principal">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Agregar producto</h2>
            <h3 class="section-subheading text-muted">Ingrese los datos del nuevo producto</h3>
        </div>

        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
            <form method="post">

                <div class="form-group">
                    <label class="control-label" asp-for="producto.Nombre"></label>
                    <input class="form-control" asp-for="producto.Nombre" />
                    <span class="text-danger" asp-validation-for="producto.Nombre"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="producto.Descripcion"></label>
                    <textarea class="form-control" asp-for="producto.Descripcion" rows="3"></textarea>
                    <span class="text-danger" asp-validation-for="producto.Descripcion"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="producto.Precio"></label>
                    <input class="form-control" type="number" step="0.01" asp-for="producto.Precio" />
                    <span class="text-danger" asp-validation-for="producto.Precio"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="producto.Stock"></label>
                    <input class="form-control" type="number" asp-for="producto.Stock" />
                    <span class="text-danger" asp-validation-for="producto.Stock"></span>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="producto.CodigoBarras"></label>
                    <input class="form-control" asp-for="producto.CodigoBarras" />
                    <span class="text-danger" asp-validation-for="producto.CodigoBarras"></span>
                </div>

                <div class="form-group">
                    <label for="categorias">Categoría</label>
                    <select class="form-select" id="categorias" asp-items="Model.Categoria" onchange="fetchSubCategorias()">
                        <option value="">Seleccione una categoría</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" asp-for="producto.IdSubCategoria"></label>
                    <select asp-for="producto.IdSubCategoria" class="form-select" asp-items="Model.subCategoria" id="subCategorias">
                        <option value="">Seleccione una subcategoría</option>
                    </select>
                    <span class="text-danger" asp-validation-for="producto.IdSubCategoria"></span>
                </div>

                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <a class="btn btn-primary" asp-page="./Index">Regresar</a>
                    <input type="submit" value="Agregar" class="btn btn-success" />
                </div>

            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        async function fetchSubCategorias() {
            const categoriaId = document.getElementById('categorias').value;
            if (!categoriaId) {
                document.getElementById('subCategorias').innerHTML = '<option value="">Seleccione una subcategoría</option>';
                return;
            }
            try {
                const response = await fetch(`?handler=ObtenerSubCategorias&categoriaId=${categoriaId}`);
                if (!response.ok) {
                    throw new Error('Error obteniendo los datos');
                }
                const subCategorias = await response.json();
                const subCategoriasSelect = document.getElementById('subCategorias');
                subCategoriasSelect.innerHTML = '<option value="">Seleccione una subcategoría</option>';
                
                subCategorias.forEach(subCategoria => {
                    const option = document.createElement('option');
                    option.value = subCategoria.value;
                    option.text = subCategoria.text;
                    subCategoriasSelect.appendChild(option);
                });
            } catch (error) {
                console.error('Error obteniendo los datos:', error);
                alert('Error al cargar las subcategorías');
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}